.container {
  max-width: 1440px;
  padding: 0 120px;
  position: relative;
  z-index: 1;
}

.hero {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 20%), rgba(0, 0, 0, 20%)),
    url("/hero/Picture.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 436px;
  padding-bottom: 60px;
  overflow-y: auto;
}

.contentWrapper {
  max-width: 783px;
  width: 100%;
  margin: 0 auto;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
  width: 100%;
}

.heroTitle {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: var(--white);
}

.heroSubtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: var(--white);
}

.heroCta {
  display: block;
  margin: 0 auto;
  max-width: 276px;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  border-radius: 12px;
  font-weight: 600;
  line-height: 1.25;
  color: var(--white);
  background-color: var(--button);
}

.heroCta:hover {
  background-color: var(--button-hover);
}
