.card {
  list-style: none;
  width: 276px;
  min-height: 100%;
  background-color: #ffffff;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  position: relative;
  height: 268px;
  margin: 0 auto 16px;
  border-radius: 14px;
  overflow: hidden;
}

.carImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heart {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.heartIcon {
  width: 24px;
  height: 24px;
  display: block;
}

.carInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.title {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
  color: #121417;
}

.model {
  color: #3470ff;
}

.price {
  margin-left: auto;
  font-weight: 600;
}

.details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
  max-width: 230px;
  max-height: 64px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.detailsItem {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 400;
  color: #8d8d8d;
  white-space: nowrap;
}

.detailsItem:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  margin-left: 6px;
  vertical-align: middle;
  background-color: #dce3e8;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 44px;
  border-radius: 12px;
  background-color: #3470ff;
  color: #ffffff;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
}

.button:hover {
  background-color: #1f57ff;
}
